body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: #000000;
  color: #edf1ff;
  color-scheme: dark;
}

b {
  font-weight: bold;
}

input[disabled] {
  cursor: not-allowed;
}

#app {
  width: 480px;
  margin: 24px auto 0;
  padding: 0 8px 24px 8px;
}

.title {
  margin: 16px 0 0;
  position: relative;
}

.url {
  position: relative;
  background: 0;
  border: 0;
  margin: 0;
  padding: 0 0 0 32px;
  outline: 0;
  font-size: 23px;
  line-height: 32px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: rgba(255, 255, 255, .4);
  font-family: inherit;
}

.url:focus {
  color: #fff;
}

.player-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.project-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  float: right;
  cursor: pointer;
  text-align: center;
  opacity: .4;
  background-image: url(icons.svg);
  text-decoration: none;
}

.project-link:active {
  opacity: 1;
}

.area {
  overflow: hidden;
  margin: 0 -1px;
  padding: 0 1px;
  transition: height .2s;
}

#player-area, #project-area {
  height: 0;
}

.player-stage {
  width: 480px;
  height: 360px;
}

section {
  margin: 24px 0;
}

footer {
  font-size: small;
  opacity: 0.75;
}

footer a {
  color: inherit !important;
}

h1, p, ul, footer {
  margin: 0 0 16px;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  margin: 16px 0 0;
}

h1.title {
  font-size: 54px;
  line-height: 72px;
  margin: 0;
}

code {
  font: 12px Menlo, Monaco, Consolas, Courier New, monospace;
  background: #161616;
  border: 1px solid #333;
  color: oklch(var(--lavender));
  padding: 0.2%;
  border-radius: 5px;
}

#package-link {
  padding: 2px 8px;
  background: #0a0a0a;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .35), 0 1px 4px rgba(255, 255, 255, .2);
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  width: 64px;
  text-align: center;
}

#package-link:hover {
  background: #1a1a1a;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .4), 0 1px 4px rgba(255, 255, 255, .3);
}

#package-link:active {
  background: #333;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .5), inset 0 2px 5px rgba(255, 255, 255, .15);
}

#package-other-width, #package-other-height, #embed-other-width, #embed-other-height {
  width: 55px;
  margin: 0;
}

.package-other-divider {
  margin: 0 -2px;
  pointer-events: none;
}

.package input[type=checkbox] {
  margin: 0 0 0 12px;
}

#embed-code {
  background-color: #0a0a0a;
  color: rgba(255, 255, 255, .8);
  border: 1px solid rgba(255, 255, 255, .4);
  margin: 0;
  padding: 4px;
  outline: 0;
  width: 80px;
  font-size: 12px;
  line-height: 16px;
  box-sizing: border-box;
  font-family: monospace;
}

.package-options > *, .embed-options > * {
  display: inline-block;
  vertical-align: middle;
}

/* Theme changer */
.theme-select {
  position: absolute;
  left: 5px;
  top: 5px;
  transition: opacity .2s;
}

.theme-select:hover {
  opacity: 1;
}

/* File selector */
.upload-button {
  position: relative;
}

#upload-file-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

/* Settings menu */
#settings {
  width: 100%;
}

#settings input {
  font: inherit;
  padding: 0;
  border: 0;
  width: 100%;
  background: transparent;
  color: inherit;
}

#settings input::placeholder {
  color: inherit;
  opacity: .4;
}

#settings, #settings tr, #settings td {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  border: 1px solid #555;
}

#settings .name {
  text-align: center;
  width: 175px;
}

#settings .value {
  background-color: #282828;
  padding: 0 1px;
}

#settings input {
  transition: box-shadow .2s;
}

/* style invalid inputs */
#settings input:invalid {
  box-shadow: inset 0 0 0 24px rgba(255, 0, 0, 0.2), 0 0 0 2px #ff6262;
}

.advanced input[type=checkbox] {
  margin-left: 12px;
}

.player-root:not([fullscreen]) .player-stage {
  outline: 1px solid rgba(255, 255, 255, .4);
  margin-bottom: 1px;
}

#examples-container {
  height: 0;
  overflow: hidden;
}

#examples-view {
  height: 310px;
}

#examples-footer {
  font-size: 0.8em;
  color: rgb(127, 127, 127);
}

#unshared-projects h1 {
  padding-top: 16px;
}

#unshared-projects p {
  margin-bottom: 4px;
}

:root {
  --color: 81.21% 0.1409 165.14;
  --mantle: 10.67% 0 0;
  --base: 0% 0 0;
  --text: 95.92% 0.019253 273.2377;
  --lavender: 62.56% 0.236 299.56;
  --red: 70.55% 0.1899 13.38;
}

* {
  scrollbar-color: oklch(var(--color)) oklch(var(--mantle) / 0.5);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

*::selection {
  background: oklch(var(--color) / 1);
  color: oklch(var(--base));
}

a {
  color: oklch(var(--lavender));
  display: inline-block;
  text-decoration: wavy underline;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.9);
}

a:hover {
  transform: scale(1.05) skew(-5deg);
}

p {
  line-height: 1.5;
}

.comment-box {
  background-color: #0a0a0a;
  border-left: 5px solid oklch(var(--lavender));
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.comment-box ol {
  padding-left: 20px;
}

.comment-box li {
  margin-bottom: 5px;
}

ol,
ul {
  line-height: 2;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  color: oklch(var(--color));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1::before {
  content: "# ";
}

h2::before {
  content: "## ";
}

h3::before {
  content: "### ";
}

h4::before {
  content: "#### ";
}

h5::before {
  content: "##### ";
}

h6::before {
  content: "###### ";
}

ul {
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

ul,
li,
.fli {
  margin-bottom: 0.5rem;
}

ol li::marker,
ul li::before {
  color: oklch(var(--color));
}

ul li::before {
  content: "* ";
  margin-right: 5px;
}

em::before,
i::before,
small::before,
small::after {
  color: oklch(var(--color));
}

em::before,
i::before {
  content: "*";
}

em::after,
i::after {
  content: "*";
}

small::before {
  content: "<small>";
}

small::after {
  content: "</small>";
}

hr {
  border: none;
  margin: 1rem 0;
}

hr::after {
  content: "";
  position: relative;
  display: block;
  height: 1px;
  top: -0.5rem;
  left: 30px;
  background: linear-gradient(90deg, oklch(var(--color) / 1), transparent);
}

hr::before {
  content: "---";
  color: oklch(var(--color));
}